/* Порядок свойств

Позиционирование
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

 Блочная модель
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  Типографика
  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;

  Оформление
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  Анимация
  transition: color 1s;

 Разное 
  will-change: auto; */


body {
	width: 1122px;
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: "PT Sans Narrow" ;
	text-transform: uppercase;

	color: #000000;
	background-image: url(../img/topmenu.jpg);
}

h1 {
	font-size: 30px;
	line-height: 42px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}


.container {
	box-sizing: border-box;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;

}

/*header*/

.main-header {

	min-height: 70px;
	display: flex;

	font-size: 16px;

	
}

.main_container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70px;
	flex-basis: 960px;



		
}


.logo {
	margin-left: 5px;

}

.main_navigator {
	flex-basis: 780px;
	display: flex;
	flex-grow: ;
	margin-top: 0;

	font-size: 16px;

}

.main_navigator ul {
	display: flex;


	justify-content: space-between;
	flex-basis: 535px;
	padding-left: 0;

	
	}

.main_navigator li {

	margin: 0 1px;



}


.user_block {
	flex-basis: 140px;
	padding-left: 100px;
border: 1px solid red;

	font-size: 16px;

}



